<%= form_for(@product) do |f| %>

	<div class="form-group">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label :description %><br/>
		<%= f.text_field :description%>
	</div>
	<div class="form-group">
		<%= f.label :price_in_cents %><br/>
		<%= f.number_field :price_in_cents%>
	</div>
	<div class="actions">
		<%= f.submit(class: "btn btn-default") %>
	</div>
<% end %>