<h1>Products</h1>

<div class="products">
	<table>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Price in Cents</td>
			<td>Actions</td>
		</tr>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= (product.price_in_cents).to_s %></td>
			<td><%= link_to "Show", product_path(product) %>
				<%= link_to "Edit", edit_product_path(product) %>
				<%= link_to "Delete", product, method: :delete %></td>
		</tr>
	<% end %>
	</table>
</div>

<%= link_to "New Product", new_product_path %>